<c-card class="mb-4">
  <c-card-header>
    <strong>Inbox</strong>
  </c-card-header>
  <c-card-body>
    <app-mail-toolbar></app-mail-toolbar>
    <div class="messages">
      <app-inbox-message [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [routerLink]="'message'"></app-inbox-message>
      <app-inbox-message [read]="true" [routerLink]="'message'"></app-inbox-message>
    </div>
  </c-card-body>
</c-card>
