<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>CoreUI Smart Table</strong> <small>Angular Table Component</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/smart-table">
          <app-smart-tables-basic-example></app-smart-tables-basic-example>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>CoreUI Smart Table</strong> <small>Angular Table with selectable rows</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/smart-table">
          <app-smart-tables-selectable-example></app-smart-tables-selectable-example>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>CoreUI Smart Table</strong> <small>Angular Table Component</small>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/smart-table">
          <app-smart-tables-downloadable-example></app-smart-tables-downloadable-example>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
