<div class="message-actions me-3">
  <svg cIcon name="cil-star"></svg>
</div>
<div class="message-details flex-wrap pb-3 border-bottom">
  <div class="message-headers d-flex flex-wrap">
    <div class="message-headers-from">{{ from }}</div>
    <div class="message-headers-date  ms-auto">
      <svg cIcon name="cil-paperclip"></svg>
      {{ date }}
    </div>
    <div class="message-headers-subject w-100 fs-5 fw-semibold">{{ title }}</div>
  </div>
  <div class="message-body">
    {{ description }}
  </div>
</div>

