<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong>
      </c-card-header>
      <c-card-body>
        <app-docs-example href="forms/date-picker">
          <c-row>
            <c-col lg="4">
              <c-date-picker locale="en-US"></c-date-picker>
            </c-col>
            <c-col lg="4">
              <c-date-picker date="2/16/2022" locale="en-US"></c-date-picker>
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong> with footer
      </c-card-header>
      <c-card-body>
        <app-docs-example href="forms/date-picker">
          <c-row>
            <c-col lg="4">
              <c-date-picker
                #datePicker="cDatePicker"
                [(calendarDate)]="calendarDate"
                [(date)]="date"
              >
                <ng-template cTemplateId="datePickerFooter" let-dropdown>
                  <button (click)="onToday();" cButton class="me-auto" color="danger" size="sm" variant="ghost">Today
                  </button>
                  <button (click)="onCancel()" [dropdownComponent]="dropdown" cButton cDropdownClose color="primary"
                          size="sm">Cancel
                  </button>
                  <button [disabled]="!date" [dropdownComponent]="dropdown" cButton cDropdownClose color="primary"
                          size="sm">OK
                  </button>
                </ng-template>
              </c-date-picker>
            </c-col>
            <c-col class="d-flex align-items-center">
              {{date | date}}
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong> Sizing
      </c-card-header>
      <c-card-body>
        <p>Set heights using <code>size</code> property like <code>size="lg"</code> and <code>size="sm"</code>.</p>
        <app-docs-example href="forms/date-picker">
          <c-row class="mb-4">
            <c-col lg="4">
              <c-date-picker size="lg"></c-date-picker>
            </c-col>
          </c-row>
          <c-row>
            <c-col lg="3">
              <c-date-picker size="sm"></c-date-picker>
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong> Disabled
      </c-card-header>
      <c-card-body>
        <p>Add the <code>disabled</code> boolean attribute on an input to give it a grayed out appearance and remove
          pointer events.</p>
        <app-docs-example href="forms/date-picker">
          <c-row>
            <c-col lg="4">
              <c-date-picker date="9/1/2022" disabled locale="en-US"></c-date-picker>
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong> Readonly
      </c-card-header>
      <c-card-body>
        <p>Add the <code>inputReadOnly</code> boolean attribute to prevent modification of the input's value.</p>
        <app-docs-example href="forms/date-picker">
          <c-row>
            <c-col lg="4">
              <c-date-picker inputReadOnly></c-date-picker>
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>CoreUI Angular Date Picker</strong> Disabled dates
      </c-card-header>
      <c-card-body>
        <app-docs-example href="forms/date-picker">
          <c-row>
            <c-col lg="4">
              <c-date-picker
                [calendarDate]="dateDisabledExample"
                [disabledDates]="disabledDates"
                [minDate]="minDate"
                [maxDate]="maxDate"
              ></c-date-picker>
            </c-col>
          </c-row>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
