<c-card class="cards" *ngIf="!novoCadastro">
    <c-card-header>
        <h1>Produto</h1>
    </c-card-header>

    <c-card-body>
        <c-row>
            <c-col class="justify-content-end">
                <button cButton class="px-4 mb-3" color="secondary" (click)="cadastrar()">
                    <p class="m-0 text-white"><i class="fa-regular fa-plus"></i>&nbsp; Adicionar</p>
                </button>
            </c-col>
        </c-row>

        <form cForm [formGroup]="formFiltrarPecas" noValidate>
            <c-row>
                <c-col md="5">
                    <div class="mb-1" cFormFloating>
                        <select cSelect id="selectCodigoFabricante" placeholder="teste" formControlName="codigo_fabricante">
                            <!-- <option  value=""></option> -->
                            <option disabled selected value="">selecione</option>
                            <option *ngFor="let item of listaFabricantes" value="{{ item.codigo_fabricante }}"> {{ item.codigo_fabricante }} </option>
                        </select>
                        <label cLabel for="selectCodigoFabricante">Código: </label>
                        <!-- <c-form-feedback [valid]="this.formCadastrarFabricante.controls['tipo_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['tipo_fabricante'].errors?.erro }} </c-form-feedback> -->
    
                    </div>
                </c-col>
    
                <c-col md="3">
                    <div cFormFloating>
                        <!-- <span class="input-group-text col-2" id="label-codigo_fabricante">Código</span> -->
                        <input id="codigo_peca" name="codigo_peca" type="Text" aria-label="Codigo da peça" cFormControl placeholder="Código da peça" formControlName="codigo_peca"/>
                        <label cLabel for="codigo_peca">Peça:</label>
                        <!-- <c-form-feedback [valid]="this.formCadastrarFabricante.controls['codigo_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['codigo_fabricante'].errors?.erro }} </c-form-feedback> -->
                    </div>
                </c-col>
    
                <c-col md="4">
                    <div cFormFloating="">
                        <!-- <span class="input-group-text col-2" id="label-codigo_fabricante">Código</span> -->
                        <input id="descricao_peca" name="descricao_peca" type="Text" aria-label="Descrição da peça" cFormControl placeholder="Descrição da peça" formControlName="descricao_peca"/>
                        <label cLabel for="descricao_peca">Descrição:</label>
                        <!-- <c-form-feedback [valid]="this.formCadastrarFabricante.controls['codigo_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['codigo_fabricante'].errors?.erro }} </c-form-feedback> -->
                    </div>
                </c-col>
    
                <c-col>
                    <button cButton class="mt-2 text-white" color="secondary" type="submit" (click)="getListaPecas()"><i class="fa-regular fa-magnifying-glass"></i>&nbsp;Pesquisar</button>
                </c-col>
            </c-row>
        </form>

        <c-smart-table
            #smartTable="cSmartTable"
            activePage="1"
            cleaner
            [columnSorter]="true"
            [columns]="colunasPecas"
            [itemsPerPageSelect]="true"
            pagination
            [itemsPerPageLabel]="'Itens por pagina:'"
            [itemsPerPage]="10"
            [items]="listaPecas"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableBodyProps]="{align: 'middle'}"
            header
            [tableFilter]="true"
            [tableFilterLabel]="'&nbsp;&nbsp;Filtrar:'"
            [tableFilterPlaceholder]="''"
            [tableProps]="{ hover: true, responsive: true }"
            [noItemsLabel]="'Nenhuma peça encontrada'"
            class="text-center mt-5"
            *ngIf="pesquisou"
        >
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
                <td>
                    <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'data_preco'">
                            {{ item.data_preco | date: 'dd/MM/yyyy'}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'data_ultima_carga'">
                            {{ item.data_ultima_carga | date: 'dd/MM/yyyy'}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'perc_ipi'">
                            <td class="text-start">
                                {{ item.perc_ipi  | currency: 'BRL'}}
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'valor_lpp'">
                            <td class="text-start">
                                {{ item.valor_lpp | currency: 'BRL'}}
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'acoes'" class="py-2">
                            <c-col xs-6 class="d-flex justify-content-center align-items-center">
                                <button style="background: none; border: none" [cModalToggle]="modalResumoProduto.id" (click)="resumoProduto(item)"><i class="fa-regular fa-magnifying-glass-plus text-secondary" style="font-size: 1.5rem"></i></button>
                                <button style="background: none; border: none" (click)="editar(item)"><i class="fa-regular fa-pen-to-square text-secondary" style="font-size: 1.5rem"></i></button>
                                <button style="background: none; border: none" (click)="deletarProduto(item)" ><i class="fa-solid fa-trash-xmark text-danger" style="font-size: 1.5rem"></i></button>
                            </c-col>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{tdContent}}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-template>
        </c-smart-table>
    </c-card-body>
</c-card>

<c-modal #modalResumoProduto id="modalResumoProduto" alignment="center" size="xl">
    <c-modal-header>
        <div class="row col-12">
            <h5 cModalTitle class="col-6">Peça: {{ dadosFabricante?.codigo_peca }} </h5>
            <h5 cModalTitle class="col-6">Fabricante: {{ dadosFabricante?.codigo_fabricante }} </h5>

        </div>
        <button [cModalToggle]="modalResumoProduto.id" cButtonClose></button>
    </c-modal-header>

    <c-modal-body>

    </c-modal-body>
</c-modal>

<c-card class="cards" *ngIf="novoCadastro">
    <c-card-header>
        <c-col xs-6 class="d-flex justify-content-between">
            <h1 *ngIf="!editarProduto">Novo Produto</h1>
            <h1 *ngIf="editarProduto">Editar Produto</h1>
            <button cButton color="primary" class="mb-1" (click)="voltar()"><i class="fa-regular fa-arrow-left"></i> Voltar</button>
        </c-col>
    </c-card-header>

    <c-card-body>
        <form cForm [formGroup]="formCadastrarProduto" noValidate>
            <!-- INFORMAÇÕES BÁSICAS -->
            <h5 class="mb-3">Informações Básicas</h5>
            <c-row>
                <c-col>
                    <c-input-group class="mb-2" sizing="sm">
                        <!-- <label cInputGroupText for="selectCodigoFabricante" class="col-3"> Tipo </label> -->
                        <span class="input-group-text col-3" id="label-codigo_fabricante">Fabricante</span>
                        <select cSelect id="selectCodigoFabricante" formControlName="codigo_fabricante" [valid]="this.formCadastrarProduto.controls['codigo_fabricante'].errors?.valid" sizing="sm" style="max-height: 31px;">
                            <!-- <option disabled selected value="">Selecione o fabricante</option> -->
                            <option *ngFor="let item of listaFabricantesCompleta" value="{{ item.codigo_fabricante }}"> {{ item.codigo_fabricante }} </option>
                        </select>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_fabricante'].valid"> {{ this.formCadastrarProduto.controls['codigo_fabricante'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group class="mb-2" sizing="sm">                
                        <span class="input-group-text col-3" id="label-codigo_negocio">Negócio</span>
                        <input id="codigo_negocio" name="codigo_negocio" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="codigo_negocio" [valid]="this.formCadastrarProduto.controls['codigo_negocio'].errors?.valid" maxlength="4"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_negocio'].valid"> {{ this.formCadastrarProduto.controls['codigo_negocio'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>

            <c-row>
                <c-col>
                    <c-input-group class="mb-2" sizing="sm">
                        <span class="input-group-text col-3" id="label-codigo_peca">Código</span>
                        <input id="codigo_peca" name="codigo_peca" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="codigo_peca" [valid]="this.formCadastrarProduto.controls['codigo_peca'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_peca'].valid"> {{ this.formCadastrarProduto.controls['codigo_peca'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group class="mb-2" sizing="sm">
                        <span class="input-group-text col-3" id="label-descricao_peca">Descrição</span>
                        <input id="descricao_peca" name="descricao_peca" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="descricao_peca" [valid]="this.formCadastrarProduto.controls['descricao_peca'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['descricao_peca'].valid"> {{ this.formCadastrarProduto.controls['descricao_peca'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            

            <!-- INFORMAÇÕES GERAIS -->
            <h5 class="mb-3">Informações Gerais</h5>

            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-codigo_mpc">Código MPC</span>
                        <input id="codigo_mpc" name="codigo_mpc" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="codigo_mpc" [valid]="this.formCadastrarProduto.controls['codigo_mpc'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_mpc'].valid"> {{ this.formCadastrarProduto.controls['codigo_mpc'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-valor_lpp">Valor lista</span>
                        <input id="valor_lpp" name="valor_lpp" type="currency" aria-label="Codigo do fabricante" cFormControl formControlName="valor_lpp" [valid]="this.formCadastrarProduto.controls['valor_lpp'].errors?.valid" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['valor_lpp'].valid"> {{ this.formCadastrarProduto.controls['valor_lpp'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-preco_compra">Preço de compra</span>
                        <input id="preco_compra" name="preco_compra" type="currency" aria-label="Codigo do fabricante" cFormControl formControlName="preco_compra" [valid]="this.formCadastrarProduto.controls['preco_compra'].errors?.valid" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['preco_compra'].valid"> {{ this.formCadastrarProduto.controls['preco_compra'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-unidade_medida">Unidade</span>
                        <input id="unidade_medida" name="unidade_medida" type="Text" aria-label="unidade_medida" cFormControl formControlName="unidade_medida" [valid]="this.formCadastrarProduto.controls['unidade_medida'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['unidade_medida'].valid"> {{ this.formCadastrarProduto.controls['unidade_medida'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-classif_fiscal">Classificação fiscal</span>
                        <input id="classif_fiscal" name="classif_fiscal" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="classif_fiscal" [valid]="this.formCadastrarProduto.controls['classif_fiscal'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['classif_fiscal'].valid"> {{ this.formCadastrarProduto.controls['classif_fiscal'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-ex">EX</span>
                        <input id="ex" name="ex" type="Text" aria-label="EX" cFormControl formControlName="ex" [valid]="this.formCadastrarProduto.controls['ex'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['ex'].valid"> {{ this.formCadastrarProduto.controls['ex'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-codigo_origem">Código de origem</span>
                        <input id="codigo_origem" name="codigo_origem" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="codigo_origem" [valid]="this.formCadastrarProduto.controls['codigo_origem'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_origem'].valid"> {{ this.formCadastrarProduto.controls['codigo_origem'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-perc_ipi">% IPI</span>
                        <input id="perc_ipi" name="perc_ipi" type="currency" aria-label="Codigo do fabricante" cFormControl formControlName="perc_ipi" [valid]="this.formCadastrarProduto.controls['perc_ipi'].errors?.valid" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['perc_ipi'].valid"> {{ this.formCadastrarProduto.controls['perc_ipi'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-peso">Peso</span>
                        <input id="peso" name="peso" type="Text" aria-label="peso" cFormControl formControlName="peso" [valid]="this.formCadastrarProduto.controls['peso'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['peso'].valid"> {{ this.formCadastrarProduto.controls['peso'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-qtde_embalagem">Qtde embalagem</span>
                        <input id="qtde_embalagem" name="qtde_embalagem" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="qtde_embalagem" [valid]="this.formCadastrarProduto.controls['qtde_embalagem'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['qtde_embalagem'].valid"> {{ this.formCadastrarProduto.controls['qtde_embalagem'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-codigo_desconto">Código desconto</span>
                        <input id="codigo_desconto" name="codigo_desconto" type="Text" aria-label="codigo_desconto" cFormControl formControlName="codigo_desconto" [valid]="this.formCadastrarProduto.controls['codigo_desconto'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['codigo_desconto'].valid"> {{ this.formCadastrarProduto.controls['codigo_desconto'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-desconto_compra">Desconto Compra</span>
                        <input id="desconto_compra" name="desconto_compra" type="currency" aria-label="Codigo do fabricante" cFormControl formControlName="desconto_compra" [valid]="this.formCadastrarProduto.controls['desconto_compra'].errors?.valid" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['desconto_compra'].valid"> {{ this.formCadastrarProduto.controls['desconto_compra'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-desconto_venda">Desconto Venda</span>
                        <input id="desconto_venda" name="desconto_venda" type="currency" aria-label="desconto_venda" cFormControl formControlName="desconto_venda" [valid]="this.formCadastrarProduto.controls['desconto_venda'].errors?.valid" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                        <c-form-feedback [valid]="this.formCadastrarProduto.controls['desconto_venda'].valid"> {{ this.formCadastrarProduto.controls['desconto_venda'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-familia">Família</span>
                        <input id="familia" name="familia" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="familia"/>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col md="6">
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-chave_peca">Chave</span>
                        <input id="chave_peca" name="chave_peca" type="Text" aria-label="chave_peca" cFormControl formControlName="chave_peca"/>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-pis_cofins">PIS/COFINS</span>
                        <input id="pis_cofins" name="pis_cofins" type="Text" aria-label="pis_cofins" cFormControl formControlName="pis_cofins"/>
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-data_preco">Data preço</span>
                        <c-date-picker id="data_preco" name="data_preco" closeOnSelect formControlName="data_preco" placeholder="Selecione a data" size="sm"></c-date-picker>
                    </c-input-group>
                </c-col>
                <c-col>
                    <c-input-group sizing="sm" class="mb-2">
                        <span class="input-group-text col-3" id="label-data_ultima_carga">Última carga</span>
                        <c-date-picker id="data_ultima_carga" name="data_ultima_carga" closeOnSelect formControlName="data_ultima_carga" placeholder="Selecione a data" size="sm"></c-date-picker>
                    </c-input-group>
                </c-col>
            </c-row>

            <c-row>
                <c-col md="6">
                    <c-input-group sizing="sm" class="mb-2">
                        <label cInputGroupText for="imagem_peca" class="col-3">
                            Imagem da peça
                        </label>
                        <input cFormControl formControlName="imagem_peca" id="imagem_peca" type="file" />
                    </c-input-group>
                </c-col>
            </c-row>
            
            <c-row>
                <c-col md="6">
                    <c-input-group class="mb-1" sizing="sm">
                        <span class="input-group-text col-3" id="label-status_peca">
                            Ativo:
                            <c-form-check class="mx-5">
                                <input class="p-2" cFormCheckInput id="status_peca" type="checkbox" formControlName="status_peca" />
                            </c-form-check>
                        </span>
                    </c-input-group>
                </c-col>
            </c-row>            

            <c-row>
                <c-col>
                    <c-col xs="6">
                        <button cButton class="input-group-text mt-2" color="secondary" type="submit" (click)="sendNovoProduto()" *ngIf="!editarProduto">Cadastrar</button>
                        <button cButton class="input-group-text mt-2" color="secondary" type="submit" (click)="sendEditarProduto()" *ngIf="editarProduto">Atualizar</button>
                    </c-col>
                </c-col>
            </c-row>
        </form>
    </c-card-body>
</c-card>

<c-toaster [placement]="posicaoToast" class="p-3" position="fixed">
    <c-toast
      (timer)="onTimerChange($event)"
      (visibleChange)="onVisibleChange($event)"
      [visible]="visivelToast"
      [delay]="5000"
      color="{{ corToast }}">
      <c-toast-header *ngIf="tituloToast">
        <h5 class="{{ corTextoToast }}, mb-0 w-100" style="text-align: center;">
            <strong>
                {{ tituloToast }}
            </strong>
        </h5>
      </c-toast-header>
      <c-toast-body>
        <p class="{{ corTextoToast }}, text-center, mb-0" style="font-size: 1rem; text-align: center;">
             <strong>
                {{ mensagemToast }}
            </strong>
        </p>
        <!-- <c-progress thin>
          <c-progress-bar [value]="barraPorcentagemToast"></c-progress-bar>
        </c-progress> -->
      </c-toast-body>
    </c-toast>
  </c-toaster>