<c-card *ngIf="!novoCadastro">
    <c-card-header>
        <h1>Fabricantes</h1>
    </c-card-header>

    <c-card-body>
        <c-row>
            <c-col class="justify-content-end">
                <button cButton class="px-4 mb-3" color="secondary" (click)="cadastrar()">
                    <p class="m-0 text-white"><i class="fa-regular fa-plus"></i>&nbsp; Adicionar</p>
                </button>
            </c-col>
        </c-row>

        <!-- Tabela fabricantes -->
        <c-smart-table
            #smartTable="cSmartTable"
            activePage="1"
            cleaner
            [columnSorter]="true"
            [columns]="colunasFabricante"
            [itemsPerPageSelect]="true"
            pagination
            [itemsPerPageLabel]="'Itens por pagina:'"
            [itemsPerPage]="10"
            [items]="listaFabricantes"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableBodyProps]="{align: 'middle'}"
            header
            [tableFilter]="true"
            [tableFilterLabel]="'&nbsp;&nbsp;Filtrar:'"
            [tableFilterPlaceholder]="''"
            [tableProps]="{ hover: true, responsive: true }"
            [noItemsLabel]="'Nenhum fabricante encontrado'"
            class="text-center minha-tabela-bunitinha"
        >
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
                <td>
                    <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'nome_fabricante'">
                            <td class="text-start">
                                {{ item.nome_fabricante }}
                            </td>
                        </ng-container>
                        <ng-container *ngSwitchCase="'status_fabricante'">
                            <c-form-check class="d-flex justify-content-center">
                                <input cFormCheckInput id="status_fabricante" type="checkbox" disabled [checked]="item.status_fabricante" />
                            </c-form-check>
                        </ng-container>
                        <ng-container *ngSwitchCase="'acoes'" class="py-2">
                            <c-col xs-6 class="d-flex justify-content-center align-items-center">
                                <button style="background: none; border: none" [cModalToggle]="modalResumoFabricante.id" (click)="resumoFabricante(item)"><i class="fa-regular fa-magnifying-glass-plus text-secondary" style="font-size: 1.5rem"></i></button>
                                <button style="background: none; border: none" (click)="editar(item)"><i class="fa-regular fa-pen-to-square text-secondary" style="font-size: 1.5rem"></i></button>
                                <button style="background: none; border: none" (click)="deletarFabricante(item)"><i class="fa-solid fa-trash-xmark text-danger" style="font-size: 1.5rem"></i></button>
                            </c-col>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{tdContent}}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-template>
        </c-smart-table>
    </c-card-body>
</c-card>

<!-- Modal resumo fabricante -->
<c-modal #modalResumoFabricante id="modalResumoFabricante" alignment="center" size="xl">
    <c-modal-header>
        <div class="row col-12">
            <h5 cModalTitle class="col-6">Código: {{ dadosFabricante?.codigo_fabricante }} </h5>
            <h5 cModalTitle class="col-6">Fabricante: {{ dadosFabricante?.nome_fabricante }} </h5>

        </div>
        <button [cModalToggle]="modalResumoFabricante.id" cButtonClose></button>
    </c-modal-header>

    <c-modal-body>
        <div class="d-flex align-items-center">
            <p cInputGroupText class="col-2 mb-1"> Tipo </p>
            <p class="mb-1 col-4">&nbsp; {{ dadosFabricante?.tipo_fabricante }} </p>
            <span class="input-group-text col-2 mb-1" id="label-data_ultima_carga">Última carga</span>
            <p class="mb-1 col-4">&nbsp; {{ dadosFabricante?.data_ultima_carga }} </p>
        </div>
        <!-- <div class="d-flex align-items-center">
        </div> -->

            <c-smart-table
                #smartTable="cSmartTable"
                activePage="1"
                [columnSorter]="true"
                [columns]="colunasModalResumoFabricante"
                [itemsPerPageSelect]="true"
                pagination
                [itemsPerPageLabel]="'Itens por pagina:'"
                [itemsPerPage]="10"
                [items]="listaModalResumoFabricante"
                [sorterValue]="{ column: 'name', state: 'asc' }"
                [tableBodyProps]="{align: 'middle'}"
                header
                [tableProps]="{ hover: true, responsive: true }"
                [tableFilter]="true"
                [tableFilterLabel]="'&nbsp;&nbsp;Filtrar:'"
                [tableFilterPlaceholder]="''"
                [noItemsLabel]="'Nenhum negócio encontrado'"
                class="text-center minha-tabela-bunitinha"
            >
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
                <td>
                    <ng-container [ngSwitch]="columnName">
                        <ng-container *ngSwitchCase="'status_negocio'">
                            <div>
                                <c-form-check class="d-flex justify-content-center">
                                    <input cFormCheckInput id="status_negocio" type="checkbox" disabled [checked]="item.status_negocio" />
                                </c-form-check>
                            </div>
                        </ng-container>
        
                        <ng-container *ngSwitchDefault>
                            {{tdContent}}
                        </ng-container>
                    </ng-container>
                </td>
            </ng-template>
        </c-smart-table>
    </c-modal-body>
</c-modal>

<div *ngIf="novoCadastro">
    <c-card>
        <c-card-header>
            <c-col xs-6 class="d-flex justify-content-between">
                <h1>Novo Fabricante</h1>
                <button cButton color="primary" class="mb-1" (click)="voltar()"><i class="fa-regular fa-arrow-left"></i> Voltar</button>
            </c-col>
        </c-card-header>
        
        <c-card-body>
            <!-- form cadastrar fabricante -->
            <form cForm [formGroup]="formCadastrarFabricante" noValidate>
                <c-input-group class="col-6 mb-1">
                    <span class="input-group-text col-2" id="label-codigo_fabricante">Código</span>
                    <input id="codigo_fabricante" name="codigo_fabricante" type="Text" aria-label="Codigo do fabricante" cFormControl formControlName="codigo_fabricante" [valid]="this.formCadastrarFabricante.controls['codigo_fabricante'].errors?.valid" maxlength="4"/>
                    <c-form-feedback [valid]="this.formCadastrarFabricante.controls['codigo_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['codigo_fabricante'].errors?.erro }} </c-form-feedback>
                </c-input-group>

                <c-input-group class="col-6 mb-1">
                    <span class="input-group-text col-2" id="label-nome_fabricante">Nome</span>
                    <input id="nome_fabricante" name="nome_fabricante" type="text" aria-label="Nome do fabricante" cFormControl formControlName="nome_fabricante" [valid]="this.formCadastrarFabricante.controls['nome_fabricante'].errors?.valid"/>
                    <c-form-feedback [valid]="this.formCadastrarFabricante.controls['nome_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['nome_fabricante'].errors?.erro }} </c-form-feedback>
                </c-input-group>

                <c-input-group class="mb-1">
                    <label cInputGroupText for="selectTiposFabricantes" class="col-2"> Tipo </label>
                    <select cSelect id="selectTiposFabricantes" formControlName="tipo_fabricante" [valid]="this.formCadastrarFabricante.controls['tipo_fabricante'].errors?.valid">
                        <option disabled selected value="">Selecione o tipo do fabricante</option>
                        <option value="AG">Agrícola</option>
                        <option value="CT">Construção</option>
                    </select>
                    <c-form-feedback [valid]="this.formCadastrarFabricante.controls['tipo_fabricante'].valid"> {{ this.formCadastrarFabricante.controls['tipo_fabricante'].errors?.erro }} </c-form-feedback>
                </c-input-group>

                <c-input-group class="col-6 mb-1">
                    <span class="input-group-text col-2" id="label-data_ultima_carga">Última carga</span>
                    <c-date-picker id="data_ultima_carga" name="data_ultima_carga" closeOnSelect formControlName="data_ultima_carga" placeholder="Selecione a data" [valid]="this.formCadastrarFabricante.controls['data_ultima_carga'].errors?.valid"></c-date-picker>
                    <c-form-feedback [valid]="this.formCadastrarFabricante.controls['data_ultima_carga'].valid"> {{ this.formCadastrarFabricante.controls['data_ultima_carga'].errors?.erro }} </c-form-feedback>
                </c-input-group>

                <c-input-group class="mb-1">
                    <span class="input-group-text col-2" id="label-status_fabricante">
                        Ativo:
                        <c-form-check class="mx-5">
                            <input class="p-2" cFormCheckInput id="status_fabricante" type="checkbox" formControlName="status_fabricante" />
                        </c-form-check>
                    </span>
                </c-input-group>
                <c-row>
                    <c-col xs="6">
                        <button cButton class="input-group-text mt-2" color="secondary" type="submit" (click)="sendEditarFabricante()" *ngIf="cadastrarNegocio">Confirmar</button>
                        <button cButton class="input-group-text mt-2" color="secondary" type="submit" (click)="sendNovoFabricante()" *ngIf="!cadastrarNegocio">Cadastrar</button>
                    </c-col>
                </c-row>
            </form>
        </c-card-body>

        <c-card-header class="mt-5">
            <h2>Negócios</h2>
        </c-card-header>

        <c-card-body>
            <c-row>
                <!-- Form cadastra Negocio -->
                <form cRow [gutter]="1" [formGroup]="formCadastrarNegocio" class="align-items-center">
                    <c-input-group>
                        <span class="input-group-text col-3" id="label-codigo_negocio">Código do Negócio</span>
                        <input id="codigo_negocio" name="codigo_negocio" type="Text" aria-label="Codigo do negócio" cFormControl formControlName="codigo_negocio" maxlength="4" [valid]="this.formCadastrarNegocio.controls['codigo_negocio'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarNegocio.controls['codigo_negocio'].valid"> {{ this.formCadastrarNegocio.controls['codigo_negocio'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                    <c-input-group>
                        <span class="input-group-text col-3" id="label-descricao_negocio">Descrição</span>
                        <input id="descricao_negocio" name="descricao_negocio" type="text" aria-label="Descrição do negócio" cFormControl formControlName="descricao_negocio" [valid]="this.formCadastrarNegocio.controls['descricao_negocio'].errors?.valid"/>
                        <c-form-feedback [valid]="this.formCadastrarNegocio.controls['descricao_negocio'].valid"> {{ this.formCadastrarNegocio.controls['descricao_negocio'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                    <c-input-group class="mb-3">
                        <label cInputGroupText for="selectTiposNegocio" class="col-3"> Tipo </label>
                        <select cSelect id="selectTiposNegocio" formControlName="tipo_negocio" [valid]="this.formCadastrarNegocio.controls['tipo_negocio'].errors?.valid">
                            <option disabled selected value="">Selecione o tipo do negocio</option>
                            <option value="AG">Agrícola</option>
                            <option value="CT">Construção</option>
                        </select>
                        <c-form-feedback [valid]="this.formCadastrarNegocio.controls['tipo_negocio'].valid"> {{ this.formCadastrarNegocio.controls['tipo_negocio'].errors?.erro }} </c-form-feedback>
                    </c-input-group>
                    <c-col class="d-flex">
                        <button cButton [disabled]="!cadastrarNegocio" style="background: none; border: none; box-shadow: none" (click)="sendNovoNegocio()"><i class="fa-solid fa-square-check text-success" style="font-size: 1.5rem">&nbsp;Confirmar </i></button>
                        <button cButton [disabled]="!cadastrarNegocio" style="background: none; border: none; box-shadow: none" (click)="limparForm()"><i class="fa-solid fa-rectangle-xmark fa-2x text-danger" style="font-size: 1.5rem">&nbsp;Limpar </i></button>
                    </c-col>
                </form>
            </c-row>
            <c-row class="mt-3">
                <!-- Tabela Negocios -->                
                <form cForm [formGroup]="formEditarNegocio">
                    <c-smart-table
                        #smartTable="cSmartTable"
                        activePage="1"
                        cleaner
                        [columnSorter]="true"
                        [columns]="colunasNegocio"
                        [itemsPerPageSelect]="true"
                        pagination
                        [itemsPerPageLabel]="'Itens por pagina:'"
                        [itemsPerPage]="10"
                        [items]="listaNegocio"
                        [sorterValue]="{ column: 'name', state: 'asc' }"
                        [tableBodyProps]="{align: 'middle'}"
                        header
                        [tableFilter]="true"
                        [tableFilterLabel]="'&nbsp;&nbsp;Filtrar:'"
                        [tableFilterPlaceholder]="''"
                        [tableProps]="{ hover: true, responsive: true }"
                        [noItemsLabel]="'Nenhum negócio encontrado'"
                        class="text-center minha-tabela-bunitinha"
                    >
                        <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
                            <td>
                                <ng-container [ngSwitch]="columnName">
                                    <ng-container *ngSwitchCase="'codigo_negocio'">
                                        <div >{{ item.codigo_negocio }}</div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'descricao_negocio'">
                                        <div *ngIf="!item.editarItemNegocio">{{ item.descricao_negocio }}</div>
                                        <div *ngIf="item.editarItemNegocio">
                                            <c-input-group>
                                                <input id="descricao_negocio" name="descricao_negocio" type="text" aria-label="Descrição do negocio" cFormControl formControlName="descricao_negocio" placeholder="Descrição" />
                                            </c-input-group>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'status_negocio'">
                                        <div *ngIf="!item.editarItemNegocio">
                                            <c-form-check class="d-flex justify-content-center">
                                                <input cFormCheckInput id="status_negocio" type="checkbox" disabled [checked]="item.status_negocio" />
                                            </c-form-check>
                                        </div>
                                        <div *ngIf="item.editarItemNegocio">
                                            <c-input-group class="mb-1">
                                                <c-form-check class="mx-5">
                                                    <input class="p-2" cFormCheckInput id="status_negocio" type="checkbox" formControlName="status_negocio" />
                                                </c-form-check>
                                            </c-input-group>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchCase="'acoes'" class="py-2">
                                        <div *ngIf="!item.editarItemNegocio">
                                            <c-col xs-6>
                                                <button style="background: none; border: none" (click)="editarNegocio(item)"><i class="fa-regular fa-pen-to-square text-secondary" style="font-size: 1.5rem"></i></button>
                                                <button style="background: none; border: none" (click)="deletarNegocio(item)"><i class="fa-solid fa-trash-xmark text-danger" style="font-size: 1.5rem"></i></button>
                                            </c-col>
                                        </div>
                                        <div *ngIf="item.editarItemNegocio">
                                            <c-col class="d-flex">
                                                <button cButton [disabled]="!cadastrarNegocio" style="background: none; border: none; box-shadow: none" (click)="sendEditarNegocio()"><i class="fa-solid fa-square-check fa-2x text-success"></i></button>
                                                <button cButton [disabled]="!cadastrarNegocio" style="background: none; border: none; box-shadow: none" (click)="cancelar(item)"><i class="fa-solid fa-rectangle-xmark fa-2x text-danger"></i></button>
                                            </c-col>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchDefault>
                                        {{tdContent}}
                                    </ng-container>
                                </ng-container>
                            </td>
                        </ng-template>
                    </c-smart-table>
                </form>
            </c-row>
        </c-card-body>
        <c-card-footer></c-card-footer>
    </c-card>
</div>

<c-toaster [placement]="posicaoToast" class="p-3" position="fixed">
    <c-toast
      (timer)="onTimerChange($event)"
      (visibleChange)="onVisibleChange($event)"
      [visible]="visivelToast"
      [delay]="5000"
      color="{{ corToast }}">
      <c-toast-header *ngIf="tituloToast">
        <h5 class="{{ corTextoToast }}, mb-0 w-100" style="text-align: center;">
            <strong>
                {{ tituloToast }}
            </strong>
        </h5>
      </c-toast-header>
      <c-toast-body>
        <p class="{{ corTextoToast }}, text-center, mb-0" style="font-size: 1rem; text-align: center;">
             <strong>
                {{ mensagemToast }}
            </strong>
        </p>
        <!-- <c-progress thin>
          <c-progress-bar [value]="barraPorcentagemToast"></c-progress-bar>
        </c-progress> -->
      </c-toast-body>
    </c-toast>
  </c-toaster>